POSTGRES_READONLY_HOST=localhost
POSTGRES_READONLY_PORT=5432
POSTGRES_READONLY_DB=weather_db
POSTGRES_READONLY_USER=
POSTGRES_READONLY_PASSWORD=

POSTGRES_WRITE_HOST=localhost
POSTGRES_WRITE_PORT=5432
POSTGRES_WRITE_DB=weather_db
POSTGRES_WRITE_USER=
POSTGRES_WRITE_PASSWORD=

REPORT_CITY_NAME=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_TO=